<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Compiled and minified CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <title>Proyecto 1 - Grupo 18</title>
    <style>
        body {
            padding-top:8vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body class="bg-gray-900">
    <section class="text-white body-font w-1/2">
        <div class="flex flex-col">
                <h1 class="font-bold mt-24 lg:mt-0 font-medium text-5xl text-white-600 justify-center">Proyecto 1 - Grupo 18</h1>
                <p style="white-space: pre-line; margin-top: 50px;">Realizado Por:
                    Juan Andrés Romero - 202013449
                    Gabriela Cagua - 201812944
                    Juan Andrés Méndez - 20181580138
                </p>
                <br>
                <p class="text-2xl text-white-600 justify-center py-3">
                    Este sitio web es una herramienta que permite predecir si un comentario tiene tendencias suicidas o no usando un modelo de machine learning.
                </p>
        </div>
        <div class="flex flex-col items-center center justify-center font-bold py-18">
            <form action="/predict" method="post">
                <div class="flex flex-col items-center center justify-center">
                    <label for="message" class="text-2xl text-white-600 justify-center py-5">Ingrese el texto a predecir</label>
                    <textarea name="message" type="text" required="true" id="message" cols="50" rows="8" class="border-2 border-gray-600 rounded-lg transition-colors duration-200 text-black"></textarea>
                </div>
                <br>
                <div class="flex flex-row space-x-2 items-center center justify-center">
                    {% if prediction %}
                        <button type="button" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full" onclick="location.href = '/'">Limpiar predicción</button>
                    {% endif %}
                    <button type="submit" value="Predict" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">Predecir</button>
                </div>
            </form>
        </div>
            <div class="mt-10 mr-4 flex items-center justify-center">
                <div class="flex flex-col overflow-x-auto">
                    {% if prediction == "non-suicide" %}
                        <p class="text-5xl text-white-500 font-bold">
                            La predicción del modelo fue <span class="text-green-500">no suicida</span>
                        </p>
                    {% elif prediction == "suicide" %}
                        <p class="text-5xl text-white-500 font-bold">
                            La predicción del modelo fue <span class="text-red-500">suicida</span>
                        </p>
                    {% endif %}
                    <br>
                    {% if prediction %}
                        <p class="leading-relaxed mt-4 text-xl text-white-500 overflow-hidden">
                            <b>Texto de entrada:</b> <span>{{og_message}}</span>
                        </p>
                    {% endif %}
                </div>
            </div>
    </section>
</body>

</html>